<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="fragments :: page_head('Shopping Cart Client', 'none')" />
<body>

<div th:replace="navigation :: header_menu"></div>

	<div class="container-fluid">

<!--		<div th:replace="navigation :: search_nav"></div>-->

		<div class="text-center">
			<h1 style="text-align: center;">Your Shopping Cart</h1>
		</div>

		<div class="row m-1">
			<div class="col-sm-8"><!-- tỷ lệ: 8-4 -->
				<th:block th:each="item, status : ${cartItems}">
					<div class="row border rounded p-1" th:with="product = ${item.product}" th:id="'row' + ${status.count}">
						<div class="col-1"><!-- trong 8 tiếp tục chia tỷ lệ 1-3-6-->
							<div class="divCount">[[${status.count}]]</div>
							<div><!-- trong thymeleaf cho phép tự tạo thuộc tính bất kỳ =>sử dụng cách này để lưu giá trị mong muốn. Ví dụ: th:rowNumber =>rowNumber là thuộc tính tự tạo -->
								<a class="fas fa-trash icon-dark linkRemove" th:rowNumber="${status.count}"
								   th:href="@{'/cart/remove/' + ${product.id}}"></a>
							</div>
						</div>

						<div class="col-3">
							<img th:src="@{${product.mainImagePath}}" class="img-fluid" /><!-- thay vì ${item.product.mainImagePath} thì chỉ cần ${product.mainImagePath} vì đã khai báo th:with="product = ${item.product}"  -->
						</div>

						<div class="col-6">
							<div><!-- bấm vào link này sẽ hiển thị trang product_detail ở 1 tab mới -->
								<a th:href="@{'/p/' + ${product.alias}}" target="_blank"
								   th:title="${product.name}">
									<b>[[${product.shortName}]]</b>
								</a>
							</div>

							<div th:replace="cart/quantity_control :: quantity_control(${item.quantity}, ${product.id})"></div><!-- ${product.id} dùng để lấy ra thẻ input theo productId -->

							<div>
								<span>X&nbsp;</span>
								<div th:replace="product/product_fragment :: product_price"></div>
							</div>

							<div>
								<span>=&nbsp;</span>
								<span class="h4">$ </span><span th:id="'subtotal' + ${product.id}" class="h4 subtotal">[[${#numbers.formatDecimal(item.subtotal, 1, 'COMMA', 2, 'POINT')}]]</span>
							</div>
						</div>
					</div>

					<div class="row m-1" th:id="'blankLine' + ${status.count}">&nbsp;</div><!-- tạo 1 khoảng trắng ở giữa các cartItems -->
				</th:block>
			</div>

			<!-- nếu cartItems khác rỗng thì mới hiện div này -->
			<div class="col-sm-4" th:unless="${#lists.isEmpty(cartItems)}" id="sectionTotal">
				<div>
					<span class="h3">Estimated Total:</span>
				</div>

				<div class="mt-2">
					<span class="h2">$ &nbsp;</span><span id="total" class="h2">[[${#numbers.formatDecimal(estimatedTotal, 1, 'COMMA', 2, 'POINT')}]]</span>
				</div>

				<div class="mt-2">
					<form th:action="@{/checkout}">
						<button type="submit" class="btn btn-danger p-3 mt-2">Check Out</button>
					</form>
				</div>
			</div>
		</div>



		<div id="sectionEmptyCartMessage" th:class="'text-center' + ${#lists.isEmpty(cartItems) ? '' : ' d-none'}" >
			<h1 style="text-align: center;">You have not chosen any products yet.</h1>
		</div>

		<div th:replace="fragments :: modal_dialog"></div>

		<div th:replace="fragments :: footer"></div>
	</div>

</section>

<script>
	$('#modalDialog').on('shown.bs.modal', function () {
		var $modal = $(this);
		var $modalDialog = $modal.find('.modal-dialog');
		var modalDialogHeight = $modalDialog.outerHeight();
		var windowHeight = $(window).height();
		var topMargin = (windowHeight - modalDialogHeight) / 2;
		$modalDialog.css('margin-top', topMargin + 'px');
	});

</script>



<script type="text/javascript">
	contextPath = "[[@{/}]]";
	var csrfHeaderName = "[[${_csrf.headerName}]]";
	var csrfValue = "[[${_csrf.token}]]";
	
	decimalDigits = 2;
	decimalPointType = "POINT";
	thousandsPointType = "COMMA";
	
</script>

<script type="text/javascript" th:src="@{/js/jquery.number.min.js}"></script>
<script type="text/javascript" th:src="@{/js/shopping_cart.js}"></script>
<script type="text/javascript" th:src="@{/js/common_modal.js}"></script>

</body>
</html>