<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('Verification Succeeded!', 'none')" />
<body>
<div th:replace="navigation :: header_menu"></div>

<div class="container-fluid">

	<div>&nbsp;</div>
	
	<div class="text-center">
		<h1 style="text-align: center;">Customer Verification</h1>
		<h2 style="text-align: center;">Congratulations! Your account has been verified.</h2>
		<p><a th:href="@{/login}">Login Now</a></p>
	</div>

	<div>&nbsp;</div>
	
</div>
<div th:replace="navigation :: footer"></div>

</body>
</html>