<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: page_head('Brands - Shopping Cart Admin', 'none')" />

<body>
<div th:replace="navigation :: header_menu"></div>

<div class="container-fluid">

	<div>
		<h2>Manage Brands</h2>
	</div>

	<div class="row element-button">
		<div class="col-sm-2">
			<a class="btn btn-add btn-sm" th:href="@{/brands/new}"  title="Thêm"><i class="fas fa-plus"></i>
				Thêm brand</a>
		</div>

		<div class="col-sm-2">
			<a th:href="@{/brands/export/csv}"  class="btn btn-delete btn-sm btn-warning" type="button" title="In"><i
					class="fas fa-print"></i> In dữ liệu</a>
		</div>

		<div class="col-sm-2">
			<a class="btn btn-excel btn-sm" th:href="@{/brands/export/excel}" title="In"><i class="fas fa-file-excel"></i> Xuất
				Excel</a>
		</div>

		<div class="col-sm-2">
			<a class="btn btn-delete btn-sm pdf-file btn-danger" th:href="@{/brands/export/pdf}"  title="In"><i
					class="fas fa-file-pdf"></i> Xuất PDF</a>
		</div>
	</div>
		
	<div th:replace="fragments :: search_form_and_message('/brands/page/1')"></div>
	
	<div class="full-details">
		<table class="table table-bordered table-striped table-hover table-responsive-xl">
			<thead class="thead-dark">
				<tr>
					<th class="hideable-column">Brand ID</th>
					<th>Logo</th>
					<th th:replace="fragments :: column_link('/brands', 'name', 'Brand Name', 'none')" />
					<th>Categories</th>
					<th></th>
				</tr>								
			</thead>
			<tbody>
				<tr th:each="brand : ${listBrands}">
					<td class="hideable-column">[[${brand.id}]]</td>
					<td>
						<img th:src="@{${brand.logoPath}}" style="width: 100px" class="img-fluid"/>
					</td>
					<td>[[${brand.name}]]</td>
					<td>
						<th:block th:each="cat : ${brand.categories}">
						<span class="badge badge-secondary" th:text="${cat.name}"></span>
						</th:block>
					</td>
					<td>
						<div th:replace="fragments :: edit('brand', '/brands/edit/' + ${brand.id})"></div>
						&nbsp; 
						<div th:replace="fragments :: delete('brand', ${brand.id}, '/brands/delete/' + ${brand.id}, true)"></div>						
					</td>					
				</tr>
			</tbody>
		</table>
	</div>
	
	<div class="less-details">
		<div th:each="brand : ${listBrands}" class="row m-1">
			<div class="col-6">
				<img th:src="@{${brand.logoPath}}" style="width: 100px" class="img-fluid"/>			
			</div>
			<div class="col-6">
				<div><b>[[${brand.name}]]</b></div>
				<div class="mt-2">
					<div th:replace="fragments :: edit('brand', '/brands/edit/' + ${brand.id})"></div>
					&nbsp; 
					<div th:replace="fragments :: delete('brand', ${brand.id}, '/brands/delete/' + ${brand.id}, true)"></div>
				</div>
			</div>
			<div>&nbsp;</div>
		</div>	
	</div>	
	
	<div th:replace="fragments :: pagination('/brands', 'brands')"></div>
	
	<div th:replace="modal_fragments :: confirm_modal"></div>
	
	<div th:replace="fragments :: footer"></div>
	
</div>
<script th:src="@{/js/common_list.js}"></script>
<script type="text/javascript">
	moduleURL = "[[@{/brands}]]";

	$(document).ready(function() {
		$(".link-delete1").on("click", function(e) {
			e.preventDefault();
			showDeleteConfirmModal($(this), 'brand');
		});
	});
</script>
</body>
</html>